@font-face {
    font-family: 'BlissBold';
    src: url('/fonts/BlissBold.woff2') format('woff2'),
         url('/fonts/BlissBold.woff') format('woff'),
         url('/fonts/BlissBold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BlissBoldItalic';
    src: url('/fonts/BlissBoldItalic.woff2') format('woff2'),
         url('/fonts/BlissBoldItalic.woff') format('woff'),
         url('/fonts/BlissBoldItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BlissItalic';
    src: url('/fonts/BlissItalic.woff2') format('woff2'),
         url('/fonts/BlissItalic.woff') format('woff'),
         url('/fonts/BlissItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BlissLight';
    src: url('/fonts/BlissLight.woff2') format('woff2'),
         url('/fonts/BlissLight.woff') format('woff'),
         url('/fonts/BlissLight.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BlissLightItalic';
    src: url('/fonts/BlissLightItalic.woff2') format('woff2'),
         url('/fonts/BlissLightItalic.woff') format('woff'),
         url('/fonts/BlissLightItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BlissMedium';
    src: url('/fonts/BlissMedium.woff2') format('woff2'),
         url('/fonts/BlissMedium.woff') format('woff'),
         url('/fonts/BlissMedium.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BlissMediumItalic';
    src: url('/fonts/BlissMediumItalic.woff2') format('woff2'),
         url('/fonts/BlissMediumItalic.woff') format('woff'),
         url('/fonts/BlissMediumItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BlissRegular';
    src: url('/fonts/BlissRegular.woff2') format('woff2'),
         url('/fonts/BlissRegular.woff') format('woff'),
         url('/fonts/BlissRegular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}