@mixin font-face($name, $path, $weight: null, $style: null, $exts: ttf woff2 woff) {
    $src: null;

    $formats: (
        otf: "opentype",
        ttf: "truetype"
    );

    @each $ext in $exts {
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote("/" + $path + "." + $ext)) format(quote($format)), comma);
    }

    @font-face {
        font-family: quote($name);
        font-style: $style;
        font-weight: $weight;
        src: $src;
    }
}

@include font-face($brand-default-font-light, fonts/BlissLight);
@include font-face($brand-default-font, fonts/BlissRegular);
@include font-face($brand-default-font-medium, fonts/BlissMedium);
@include font-face($brand-default-font-bold, fonts/BlissBold);