@mixin clear($dimension) {
    &:after {
        clear: $dimension;
        content: "";
        display: table;
    }
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.clear-both {
    clear: both;
}